{% extends "base.html" %}

{% block title %}{{ project_info.project_title }} Dashboard, {{ folder_name.project_folder }} - {{ page_no }}{% endblock %}

{% block homelink %}
    <a class="navbar-context" href="{{ url_for('dashboard', project_alias=project_alias) }}" title="{{ project_info.project_title }}">{{ project_info.project_title }}</a>
{% endblock %}



{% block head_blocks %}
{% endblock %}



{% block content %}


{% if recent_images|length > 10 %}
<div class="row">
    <div class="col">
        <div class="dashboard-recent-images">
            <h4>Recent images:</h4>
                {% for img in recent_images %}
                    <a href="{{ url_for('file', file_id=img.file_id) }}"><img src="{{ url_for('static', filename=img.preview) }}" alt=""></a>
                {% endfor %}
        </div>
        <br>
    </div>
</div>
{% endif %}


<div class="row g-3 mb-4">
    <div class="col-lg-6">
        {% include 'partials/_dashboard_project_details.html' %}
    </div>
    <div class="col-lg-6">
        {% include 'partials/_dashboard_stats.html' %}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12 col-lg-3 dashboard-sidebar">

        {% if folder_name != None %}
            <div class="skipnav"><a href="#filestable">Skip to Files</a></div>
        {% endif %}

        {% include 'partials/_dashboard_folders.html' %}

    </div>
    <div class="col-12 col-lg-9 overflow-x-auto dashboard-main-panel">

    {% if folder_name != None %}

        <!-- This folder badges -->
        {% if folder_badges != None %}
            <div style="text-align: right;">
                {% if files_count != "0 files" and files_count != "0" %}
                    &nbsp;<span class="badge bg-primary" alt="{{ files_count }} Files">{{ files_count }} Files</span>
                {% endif %}

                {% for folder_badge in folder_badges %}
                    &nbsp;<span class="badge {{ folder_badge.badge_css }}" alt="{{ folder_badge.badge_text }}">{{ folder_badge.badge_text }}</span>
                {% endfor %}
            </div>
        {% endif %}


        <!-- Accessible jump to files -->
        <a name="filestable"></a>

        <!-- Choose view -->
            <ul class="nav nav-tabs dashboard-tabs" role="tablist" aria-label="Folder detail views">
                <li class="nav-item" role="presentation">
                    <a href="{% if tab == "filechecks" %}#{% else %}{{ url_for('dashboard_f', project_alias=project_alias, folder_id=folder_id, tab="filechecks") }}{% endif %}"
                       title="Link to the file checks of the folder"
                       class="nav-link {% if tab == "filechecks" %}active{% endif %}"
                       {% if tab == "filechecks" %}aria-current="page"{% endif %}
                       role="tab">File Checks</a>
                </li>
                {% if site_net == "internal" %}
                <li class="nav-item" role="presentation">
                    <a href="{% if tab == "lightbox" %}#{% else %}{{ url_for('dashboard_f', project_alias=project_alias, folder_id=folder_id, tab="lightbox") }}{% endif %}"
                       title="Link to view image previews in a lightbox of the folder"
                       class="nav-link {% if tab == "lightbox" %}active{% endif %}"
                       {% if tab == "lightbox" %}aria-current="page"{% endif %}
                       role="tab">Lightbox</a>
                </li>
                {% endif %}
                {% if postproc_data %}
                <li class="nav-item" role="presentation">
                    <a href="{% if tab == "postprod" %}#{% else %}{{ url_for('dashboard_f', project_alias=project_alias, folder_id=folder_id, tab="postprod") }}{% endif %}"
                       title="Link to view the post-production steps of the folder"
                       class="nav-link {% if tab == "postprod" %}active{% endif %}"
                       {% if tab == "postprod" %}aria-current="page"{% endif %}
                       role="tab">Post-Production</a>
                </li>
                {% endif %}
            </ul>

        {% if tab == "filechecks" %}

            <!-- {% if is_admin %}
                <div style="text-align: right;"><a class="btn btn-primary btn-sm" href="{{ url_for('update_folder_dams', project_alias=project_alias, folder_id=folder_id) }}" role="button">Update DAMS Status</a></div>
            {% endif %} -->

                {% if folder_links | length > 0 %}

                    <div class="pb-1 float-end">
                        <div class="card text-bg-light border-dark">
                            <div class="card-header">
                                Links related to this folder
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for link in folder_links %}
                                        <li class="list-group-item"><a href="{{ link.link_url }}" title="Link for {{ link.link_text }}" class="card-link">{{ link.link_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <br>
                    {% if qc_check %}
                        <br>
                        <div class="alert alert-secondary" role="alert">
                            <div class="row">
                                <div class="col">
                                    <div id="qc_accordion">
                                        <h3>Visual Image QC Details: (click to expand)</h3>
                                        {% for table in qc_details %}
                                            <div>
                                                {{ table|safe }}
                                                <hr>
                                                {% if qc_folder_info != "" %}
                                                    <p>Notes: {{ qc_folder_info }}</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <hr>
                    {% endif %}
                <br>
                {% include 'partials/_dashboard_files_table.html' %}


              <!-- File preview modal -->
              <!-- Only display internally -->
              <div class="modal fade" id="previewmodal1" tabindex="-1" aria-labelledby="previewmodal1Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title" id="previewmodal1Label">Image Preview (JPG)</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p><div class="float-end"><em>Note: Image is resized to a JPEG file with max dimensions of 600 x 600. Click on the Details link for the fullsize</em></div><a href="#" id="filelink">Link to image</a></p>

                           <img src="#" style="width: 100%;" id="imagepreview" alt="Preview of the image">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            
        {% elif tab == "lightbox" %}
            {% if site_net == "internal" %}
              <br><br>
                <p class="fs-3">Image Previews for the Folder {{ folder_name.project_folder }}</p>
                  <div class="row">
                      <div class="col">
                          <p><small><em>Sorted by file_name</em></small></p>
                      </div>
                      <div class="col">
                          {{ pagination_html | safe }}
                      </div>
                  </div>

                {% for file in files_df %}
                
                    {% if transcription == 1 %}
                        <a type="button" class="btn btn-light btn-sm"
                            href="{{ url_for('file_transcription', file_id=file.file_id) }}"
                            title="Details of the file {{ file.file_name }}">
                    {% else %}
                        <a type="button" class="btn btn-light btn-sm"
                            href="{{ url_for('file', file_id=file.file_id) }}"
                            title="Details of the file {{ file.file_name }}">
                    {% endif %}

                    {% if file.preview_img_path == "na_160.png" %}
                        <div class="missing-image">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M21 19V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2zM5 5h14v14H5V5zm3 10l2.5-3 2.5 3 3.5-4.5 4 6H5l3-4.5z"/>
                            </svg>
                        </div>
                        <br>
                    {% else %}
                        <img src="{% if file.preview_image_ext == None %}{{ url_for('static', filename=file.preview_img_path) }}{% else %}{{ file.preview_image_ext }}&max=160{% endif %}" alt="Preview image of {{ file.file_name }}" style="padding: 10px; max-width: 160px;" class="img-fluid img-thumbnail"><br>
                    {% endif %}

                    <small>{{ file.file_name }}</small>
                </a>
                {% endfor %}

                <br>{{ pagination_html | safe }}

            {% endif %}

        {% elif tab == "postprod" %}

            <br><br>

                {% for table in post_processing %}
                    {% if post_processing_rows == 0 %}
                        <br><p>No data available.</p>
                    {% else %}
                       {{ table|safe }}
                    {% endif %}
                {% endfor %}

        {% else %}
            &nbsp;
        {% endif %}

        <br><p>Folder last updated on {{ fol_last_update }}.</p>

    {% else %}
        <p>Select a folder on the left</p>
    {% endif %}

    </div>
</div>
</div>
</div>
    <br>
    {% if project_info.project_notice != None %}
        <div class="alert alert-info m-100" role="alert">
            <small>{{ project_info.project_notice | safe }}</small>
        </div>
    {% endif %}

{% endblock %}


{% block javascripts %}

<script src="{{ url_for('static', filename='js/dashboard_folders.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_files.js') }}"></script>

{% if folder_id != None %}

    <!-- QC Accordion -->
    <script>
        $( function() {
            $( "#qc_accordion" ).accordion({
                active: false,
                collapsible: true,
                heightStyle: "content"
            });
        } );
    </script>

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {

        {% if tab == "filechecks" %}

            var previewmodal1 = document.getElementById('previewmodal1');
            previewmodal1.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var checkinfo = button.getAttribute('data-bs-info')
              var filelink = button.getAttribute('data-bs-link')
              var filetext = button.getAttribute('data-bs-text')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody1 = previewmodal1.querySelector('.modal-body img')
              // modalBody1.src = checkinfo + '&max=1200';
              modalBody1.src = checkinfo;
              var modalBody2 = previewmodal1.querySelector('.modal-body a')
              modalBody2.href = filelink;
              previewmodal1.querySelector('.modal-body a').innerHTML = filetext;
            });

                $('#qc_details_table').DataTable({
                    dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5',
                            'excelHtml5'
                        ],
                    "order": [],
                    "columnDefs": [
                        {
                            'targets': 0,
                            'createdCell':  function (td, cellData, rowData, row, col) {
                                $(td).attr('scope', 'row');
                            }
                        }],
                    lengthMenu: [
                        [25, 50, 100, -1],
                        [25, 50, 100, 'All'],
                    ]
                });

        {% elif tab == "postprod" %}

                $('#post_processing_table').append('<caption style="caption-side: top"><p class="fs-3">Post-production Steps on the Files in the Folder {{ folder_name.project_folder }}</p></caption>');

                $('#post_processing_table').DataTable({
                    dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5',
                            'excelHtml5'
                        ],
                    "order": [],
                    "columnDefs": [
                        {
                            'targets': 0,
                            'createdCell':  function (td, cellData, rowData, row, col) {
                                $(td).attr('scope', 'row');
                            }
                        }],
                    lengthMenu: [
                        [25, 50, 100, -1],
                        [25, 50, 100, 'All'],
                    ],
                    'rowCallback': function(row, data, index){
                        if(data[1] == 'Completed'){
                            $(row).find('td:eq(1)').css('background', '#198754');
                            $(row).find('td:eq(1)').css('color', 'white');
                        } else if(data[1] == 'Failed'){
                            $(row).find('td:eq(1)').css('background', '#dc3545');
                            $(row).find('td:eq(1)').css('color', 'white');
                        } else if(data[1] == 'Pending'){
                            $(row).find('td:eq(1)').css('background', '#e2e3e5');
                            $(row).find('td:eq(1)').css('color', 'black');
                        };
                        if(data[3] == 'Completed'){
                            $(row).find('td:eq(3)').css('background', '#198754');
                            $(row).find('td:eq(3)').css('color', 'white');
                        } else if(data[3] == 'Failed'){
                            $(row).find('td:eq(3)').css('background', '#dc3545');
                            $(row).find('td:eq(3)').css('color', 'white');
                        } else if(data[3] == 'Pending'){
                            $(row).find('td:eq(3)').css('background', '#e2e3e5');
                            $(row).find('td:eq(3)').css('color', 'black');
                        };
                        if(data[2] == 'Completed'){
                            $(row).find('td:eq(2)').css('background', '#198754');
                            $(row).find('td:eq(2)').css('color', 'white');
                        } else if(data[2] == 'Failed'){
                            $(row).find('td:eq(2)').css('background', '#dc3545');
                            $(row).find('td:eq(2)').css('color', 'white');
                        } else if(data[2] == 'Pending'){
                            $(row).find('td:eq(2)').css('background', '#e2e3e5');
                            $(row).find('td:eq(2)').css('color', 'black');
                        };
                        if(data[4] == 'Completed'){
                            $(row).find('td:eq(4)').css('background', '#198754');
                            $(row).find('td:eq(4)').css('color', 'white');
                        } else if(data[4] == 'Failed'){
                            $(row).find('td:eq(4)').css('background', '#dc3545');
                            $(row).find('td:eq(4)').css('color', 'white');
                        } else if(data[4] == 'Pending'){
                            $(row).find('td:eq(4)').css('background', '#e2e3e5');
                            $(row).find('td:eq(4)').css('color', 'black');
                        };
                        if(data[5] == 'Completed'){
                            $(row).find('td:eq(5)').css('background', '#198754');
                            $(row).find('td:eq(5)').css('color', 'white');
                        } else if(data[5] == 'Failed'){
                            $(row).find('td:eq(5)').css('background', '#dc3545');
                            $(row).find('td:eq(5)').css('color', 'white');
                        } else if(data[5] == 'Pending'){
                            $(row).find('td:eq(5)').css('background', '#e2e3e5');
                            $(row).find('td:eq(5)').css('color', 'black');
                        };
                        if(data[6] == 'Completed'){
                            $(row).find('td:eq(6)').css('background', '#198754');
                            $(row).find('td:eq(6)').css('color', 'white');
                        } else if(data[6] == 'Failed'){
                            $(row).find('td:eq(6)').css('background', '#dc3545');
                            $(row).find('td:eq(6)').css('color', 'white');
                        } else if(data[6] == 'Pending'){
                            $(row).find('td:eq(6)').css('background', '#e2e3e5');
                            $(row).find('td:eq(6)').css('color', 'black');
                        };
                        if(data[7] == 'Completed'){
                            $(row).find('td:eq(7)').css('background', '#198754');
                            $(row).find('td:eq(7)').css('color', 'white');
                        } else if(data[7] == 'Failed'){
                            $(row).find('td:eq(7)').css('background', '#dc3545');
                            $(row).find('td:eq(7)').css('color', 'white');
                        } else if(data[7] == 'Pending'){
                            $(row).find('td:eq(7)').css('background', '#e2e3e5');
                            $(row).find('td:eq(7)').css('color', 'black');
                        };
                        if(data[8] == 'Completed'){
                            $(row).find('td:eq(8)').css('background', '#198754');
                            $(row).find('td:eq(8)').css('color', 'white');
                        } else if(data[8] == 'Failed'){
                            $(row).find('td:eq(8)').css('background', '#dc3545');
                            $(row).find('td:eq(8)').css('color', 'white');
                        } else if(data[8] == 'Pending'){
                            $(row).find('td:eq(8)').css('background', '#e2e3e5');
                            $(row).find('td:eq(8)').css('color', 'black');
                        };
                        if(data[9] == 'Completed'){
                            $(row).find('td:eq(9)').css('background', '#198754');
                            $(row).find('td:eq(9)').css('color', 'white');
                        } else if(data[9] == 'Failed'){
                            $(row).find('td:eq(9)').css('background', '#dc3545');
                            $(row).find('td:eq(9)').css('color', 'white');
                        } else if(data[9] == 'Pending'){
                            $(row).find('td:eq(9)').css('background', '#e2e3e5');
                            $(row).find('td:eq(9)').css('color', 'black');
                        };
                    },
                });

        {% endif %}

            // Refresh dashboard after 10 minutes of inactivity
            // https://stackoverflow.com/a/55144842
            function reloadPage() {
                clearTimeout(idleTime);
                idleTime = setTimeout(function () {
                    location.reload();
                }, 600000);
            }

            var idleTime;
             reloadPage();
            $('html').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
                clearTimeout(idleTime);
                reloadPage();
            });
        });

    </script>

    {% endif %}

{% endblock %}
