{% extends "base.html" %}

{% block title %}Details of {{ file_details.file_name }} - DPO Collections Digitization Dashboard{% endblock %}

{% block homelink %}
    <h1 class="navbar-brand navtitle">Details of {{ file_details.file_name }}</h1>
{% endblock %}

{% block head_blocks %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col">
             <p>
                <a class="btn btn-primary btn-sm" href="{{ url_for('dashboard_f', project_alias=project_alias, folder_id=folder_info.folder_id) }}" title="Folder {{ folder_info.project_folder }} page" role="button">
                    <i class="fa-solid fa-list"></i> Back to folder {{ folder_info.project_folder }}
                </a>
            </p>
        </div>
        <div class="col">
            <p style="text-align: right;">
                <a class="btn btn-primary btn-sm{% if file_details.prev_id %}" href="{{ url_for('file', file_id=file_details.prev_id) }}{% else %} disabled" href="#{% endif %}" role="button">
                    <i class="fa-solid fa-chevron-left"></i> Prev File</a>&nbsp; 
                <a class="btn btn-primary btn-sm{% if file_details.next_id %}" href="{{ url_for('file', file_id=file_details.next_id) }}{% else %} disabled" href="#{% endif %}" role="button">
                Next File <i class="fa-solid fa-chevron-right"></i></a>
                <br><small>(by alphabetical order)</small>
            </p>
        </div>
    </div>

    <div class="row">
        {% if zoom_exists == 1 %}
            <div class="col-12">
        {% else %}
            <div class="col-6">
        {% endif %}
        
        {% if site_net == "internal" %}

            <h2>Image Preview:</h2>

            {% if username != "" %}
                <div style="background-color: lightgray; padding: 10px;"><p>If image contains potentially sensitive or offensive material, please enter the details here:</p>
                <form action="{{ url_for('update_image') }}" method="POST">
                    <input type="hidden" class="form-control form-control-md" id="file_id" name="file_id" value="{{ file_details.file_id }}">
                    <input type="text" class="form-control form-control-md" id="sensitive_info" name="sensitive_info" aria-label="Search Files" placeholder="Enter Reason">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form></div>
                <br>
            {% endif %}
            
            {%if file_sensitive == "1" %}
                <p><em>This image may include sensitive contents. To view the uncensored image, click <a href="{{ url_for('get_preview', file_id=file_details.file_id, sensitive='ok') }}" title="Open uncensored version of this image">this link</a></em></p>

                {%if sensitive_info != "" and sensitive_info != None %}
                    <p><em>Staff notes</em>: {{ sensitive_info }}</p> 
                {% endif %}

            {% endif %}

            {% if kiosk  %}

                <img src="{% if file_details.preview_image_ext == None %}{{ url_for('get_preview', file_id=file_details.file_id, max=600) }}{% else %}{{ file_details.preview_image_ext }}&max=600{% endif %}" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top">

            {% else %}

                {% if zoom_exists == 1 %}

                    <div id="openseadragon" style="width: 100%; height: 900px;" alt="Preview image of {{ file_details.file_name }}"></div>

                {% else %}

                    {% if file_details.preview_image_ext == None %}
                        
                        {% if file_details.preview_img_path == "na_160.png" %}
                            <p><img src="{{ url_for('static', filename=file_details.preview_img_path) }}" alt="Preview image of {{ file_details.file_name }}" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded"></p>
                            
                            <!-- Info on why the preview is not available -->
                            <div class="alert alert-info m-100" role="alert">
                                {% if folder_info.delivered_to_dams == 0 %}
                                    <i class="fa-solid fa-circle-info"></i> The preview is not available because the file has been delivered to DAMS. Please contact the Project Manager for more details.
                                {% elif file_details.datediff > 59 %}
                                    <i class="fa-solid fa-circle-info"></i> The preview is not available because the file has been removed. Please contact the Project Manager for more details.
                                {% else %}
                                    <i class="fa-solid fa-circle-info"></i> The preview is not available because the record was created recently. It might take up to a few hours for the images to be available. Please contact the Project Manager for more details.
                                {% endif %}
                            
                            </div>
                        {% else %}
                            <p><a href="{{ url_for('get_fullsize', file_id=file_details.file_id) }}" rel="noopener noreferrer" title="Open JPG in full size of {{ file_details.file_name }}"><img src="{{ url_for('static', filename=file_details.preview_img_path) }}" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top"></a><br>
                            Open JPG in full size</a><br>
                            <a href="{{ url_for('static', filename=file_details.preview_img_path) }}" rel="noopener noreferrer" title="Download JPG in full size of {{ file_details.file_name }}"><i class="fa-solid fa-download"></i> Download JPG in full size</a></p>            
                        {% endif %}
                        
                    {% else %}

                        <img src="{{ file_details.preview_image_ext }}&max=600" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top">

                    {% endif %}
                
                {% endif %}

                <p style="font-size: large;">Filename: {{ file_details.file_name }}</p>
                <p>DPO File ID: {{ file_details.file_id }}<br>
                Record created on: {{ file_details.created_at }}</p>

            {% endif %}

        {% else %}
            {% if file_details.preview_image_ext != None %}

                <h2>Image Preview:</h2>

                {%if file_sensitive == "1" %}
                    <p><em>This image may include sensitive contents. To view the uncensored image, click <a href="{{ url_for('get_preview', file_id=file_details.file_id, sensitive='ok') }}" title="Open uncensored version of this image">this link</a></em></p>

                    {%if sensitive_info != "" and sensitive_info != None %}
                        <p><em>Staff notes</em>: {{ sensitive_info }}</p> 
                    {% endif %}

                {% endif %}

                <img src="{{ file_details.preview_image_ext }}&max=600" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top">

                <p style="font-size: large;">Filename: {{ file_details.file_name }}</p>
                <p>DPO File ID: {{ file_details.file_id }}<br>
                    Record created on: {{ file_details.created_at }}</p>

            {% endif %}

        {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <!-- Image-related links and records-->
                {% if file_links|length > 0 %}
                        <div class="card">
                            <p class="fs-3 card-header text-white bg-primary">Links related to this image</p>
                            <div class="card-body">
                                <div class="list-group">

                                {% for link in file_links %}
                                    <a href="{{ link.link_url }}" title="{{ link.link_aria }}" class="list-group-item">{{ link.link_name | safe }}</a>
                                {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endif %}

            <!-- File checks -->
            <div class="card">
                <h2 class="card-header text-white bg-primary">File Technical Checks</h2>
                <div class="card-body">
                    <table class="table compact table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for check in file_checks %}
                            <tr>
                                <td style="font-size: small;">
                                    <strong>{{ check.file_check }}</strong><br>
                                        {% if check.file_check == 'tif_compression' %}
                                            TIF file is compressed using the lossless compression LZW.
                                        {% elif check.file_check == 'tifpages' %}
                                            Check that there are no more than 1 page in the TIF, usually a thumbnail.
                                        {% elif check.file_check == 'magick' %}
                                            File is valid according to ImageMagick.
                                        {% elif check.file_check == 'jhove' %}
                                            File is valid according to <abbr title="JSTOR/Harvard Object Validation Environment">JHOVE</abbr>.
                                        {% elif check.file_check == 'unique_file' %}
                                            Filename is unique in the project.
                                        {% elif check.file_check == 'raw_pair' %}
                                            Raw file was found for the image.
                                        {% elif check.file_check == 'valid_name' %}
                                            Filename is in the list of allowed names.
                                        {% elif check.file_check == 'old_name' %}
                                            Filename was not found in list outside the project.
                                        {% elif check.file_check == 'derivative' %}
                                            Derivative file is present.
                                        {% elif check.file_check == 'prefix' %}
                                            Filename has the correct prefix.
                                        {% elif check.file_check == 'sequence' %}
                                            File sequence is correct.
                                        {% elif check.file_check == 'tesseract' %}
                                            Text orientation and OCR with Tesseract.
                                        {% else %}
                                            Checks for {{ check.file_check }}.
                                        {% endif %}
                                </td>
                                <td style="font-size: small;">
                                    {% if check.check_results == 0 %}
                                        <button type="button" class="btn btn-success btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">OK</button>
                                    {% elif check.check_results == 1 %}
                                        <button type="button" class="btn btn-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">Failed</button>
                                    {% elif check.check_results == 9 %}
                                        <button type="button" class="btn btn-secondary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">Pending</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
    
                    </table>
                </div>
            </div>


            <!-- File postprocessing -->
            <div class="card">
                <h2 class="card-header text-white bg-primary">File Postprocessing Steps</h2>
                <div class="card-body">
                    <table class="table compact table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Step</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for step in file_postprocessing %}
                            <tr>
                                <td style="font-size: small;">
                                    <strong>{{ step.post_step }}</strong>
                                </td>
                                <td style="font-size: small;">
                                    {% if step.post_results == 0 %}
                                        <button type="button" class="btn btn-success btn-sm w-100" data-bs-toggle="modal" data-bs-target="#postmodal" data-bs-info2="{{ step.post_info }}">Completed</button>
                                    {% elif step.post_results == 1 %}
                                        <button type="button" class="btn btn-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#postmodal" data-bs-info2="{{ step.post_info }}">Failed</button>
                                    {% elif step.post_results == 9 %}
                                        <button type="button" class="btn btn-secondary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#postmodal" data-bs-info2="{{ step.post_info }}">Pending</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
    
                    </table>
                </div>
            </div>


            <!-- File check and post modals -->
            <div class="modal fade" id="checkmodal" tabindex="-1" aria-labelledby="checkmodalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="checkmodalLabel">Check Details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <pre>#</pre>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


              
              <div class="modal fade" id="postmodal" tabindex="-1" aria-labelledby="postmodalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title" id="postmodalLabel">Postprocessing Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <pre>#</pre>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>




        </div>
        <div class="col-8">

            <!--Embedded Metadata: -->
            <div style="font-size: small;">
                {% for table in tables %}
                    {% if file_metadata_rows > 0 %}
                       {{ table|safe }}
                    {% else %}
                        <p>Image metadata is not available.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


<br>

{% endblock %}


{% block javascripts %}

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {

            $('#file_metadata').append('<caption style="caption-side: top;"><p class="fs-3">Embedded metadata in the file: {{ file_details.file_name }}</p></caption>');

            $('#file_metadata').DataTable({
                dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5',
                            'excelHtml5'
                        ],
                    "order": [],
                    "columnDefs": [
                        {
                            'targets': 0,
                            'createdCell':  function (td, cellData, rowData, row, col) {
                                $(td).attr('scope', 'row');
                            }
                        }],
                    lengthMenu: [
                        [25, 50, 100, -1],
                        [25, 50, 100, 'All'],
                    ],
            });

            // file checks details
            var exampleModal = document.getElementById('checkmodal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var checkinfo = button.getAttribute('data-bs-info')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody = exampleModal.querySelector('.modal-body pre')

              modalBody.textContent = checkinfo;
            })
              
            // post details
            var exampleModal2 = document.getElementById('postmodal')
            exampleModal2.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var postinfo = button.getAttribute('data-bs-info2')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody2 = exampleModal2.querySelector('.modal-body pre')

              modalBody2.textContent = postinfo;
            })
        });
    </script>


    {% if zoom_exists == 1 %}
        <!-- openseadragon -->
        <script src="{{ url_for('static', filename='js/openseadragon.min.js') }}"></script>

        <script type="text/javascript">
            var viewer = OpenSeadragon({
                id: "openseadragon",
                prefixUrl: "{{ url_for('static', filename='images/') }}",
                tileSources: "{{ zoom_filename }}",
                timeout: 60000,
                tileRetryMax: 2,
                preload: true,
                constrainDuringPan: true,
                showRotationControl: true,
                showNavigator: true,
                maxZoomPixelRatio: 1 
            });
        </script>
    
    {% endif %}

{% endblock %}
