{% extends "base.html" %}

<!-- html title -->
{% block title %}{{ html_title }}{% endblock %}

<!-- page heading -->
<!-- {% block page_title %}{{ html_title }}{% if site_net == "internal" %} - SI Internal{% endif %}{% endblock %} -->

{% block homelink %}
    <a class="navbar-brand navtitle" href="/" title="Collections Digitization Dashboard">{{ html_title }}{% if site_net == "internal" %} - SI Internal{% endif %}</a>
{% endblock %}

{% block head_blocks %}

    <style>
        div.dt-buttons {
            float: right;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col"><h1>{{ team_heading }}</h1></div>
        <div class="col">
            <!-- Choose team -->
            <div style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Buttons to select team">
                    <a href="/" aria-label="Link to summary statistics of Collections Digitization" type="button" class="btn btn-outline-dark {% if team == "summary" %}active{% endif %}" aria-pressed="{% if team == "summary" %}true{% else %}false{% endif %}">Summary</a>
                    <a href="/team/md" aria-label="Link to summary statistics of the Mass Digitization team" type="button" class="btn btn-outline-dark {% if team == "md" %}active{% endif %}" aria-pressed="{% if team == "md" %}true{% else %}false{% endif %}">Mass Digitization</a>
                    <a href="/team/is" aria-label="Link to summary statistics of the Imaging Services Team" type="button" class="btn btn-outline-dark {% if team == "is" %}active{% endif %}" aria-pressed="{% if team == "is" %}true{% else %}false{% endif %}">Imaging Services</a>
                    <a href="/team/inf" aria-label="Link to summary statistics of the Informatics Team" type="button" class="btn btn-outline-dark {% if team == "inf" %}active{% endif %}" aria-pressed="{% if team == "inf" %}true{% else %}false{% endif %}">Informatics</a>
                </div>
            </div>
        </div>
    </div>


    {% if team != "inf" %}

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Specimens/Objects Digitized:</strong> {{ summary_stats.objects_digitized }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Images Captured:</strong> {{ summary_stats.images_captured }}</li>
            <!-- <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Public Images:</strong> {{ summary_stats.images_public }}</li> -->
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Digitization Projects:</strong> {{ summary_stats.digitization_projects }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Active Projects:</strong> {{ summary_stats.active_projects }}</li>
        </ul>

    {% else %}

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Records Created or Enhanced:</strong> {{ summary_stats.records }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Projects:</strong> {{ summary_stats.digitization_projects }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Active Projects:</strong> {{ summary_stats.active_projects }}</li>
        </ul>

    {% endif %}

    <hr>
        {% if team == "summary" %}

            <ul class="list-group list-group-flush">


                <li class="list-group-item">

                    <div class="row g-0">
                          <div class="col-2">
                              <img src="{{ url_for('static', filename='items/Hank_Aaron.jpg') }}" class="img-fluid" alt="Photo of Hank Aaron from the JPC Archive" style="padding: 10px;">
                          </div>
                          <div class="col">
                                  <h2 class="card-title">Digitization of the JPC Archive is Now in Production</h2>

                                  <p><small>After the successful Pilot Project, we have started the production project of the digitization of the JPC Archive. This phase will start by digitizing the Priority 1 material: about 70,275 reflective and transmissive photographic items. 
                                    We will continue to develop and test the systems integration. </small></p>
                                  <a href="{{ url_for('dashboard', project_alias = 'jpc_production') }}" class="btn btn-sm btn-outline-primary" title="Link to the JPC Archive Prodcution Project Dashboard">JPCA Production Project Dashboard</a>
                          </div>
                      </div>
                </li>

                  <li class="list-group-item">

                        <div class="row g-0">
                            <div class="col-2">
                                <img src="{{ url_for('static', filename='items/unionoida.jpg') }}" class="img-fluid" alt="Digitized specimen of freshwater mussel shells and scalebar" style="padding: 10px;">
                            </div>
                            <div class="col">
                                    <h2 class="card-title">A Photoshoot with 25,000 Mussels</h2>

                                    <p><small>We are digitizing about 25,000 lots, with up to three individuals per lot,
                                        adding over 120,000 images of freshwater mussels - otherwise known as the Mollusca family Unionidae.</small></p>
                                    <a href="{{ url_for('dashboard', project_alias = 'nmnh_unionoida') }}" class="btn btn-sm btn-outline-primary" title="Link to the Unionoida Project Dashboard">Unionoida Project Dashboard</a>

                            </div>
                        </div>
                  </li>

                  <li class="list-group-item">

                        <div class="row g-0">
                            <div class="col-2">
                                <img src="{{ url_for('static', filename='items/botany_accession_sample.jpg') }}" class="img-fluid" alt="Digitized mounted specimen from the National Herbarium Collection" style="padding: 10px;">
                            </div>
                            <div class="col">
                                    <h2 class="card-title">Digitization of the National Herbarium Continues</h2>

                                    <p><small>The new Imaging Services Team continues to digitize the Herbarium of the National Museum of Natural History. The project digitizes new accessions to the collection.</small></p>
                                    <a href="{{ url_for('dashboard', project_alias = 'botany_accessions') }}" class="btn btn-sm btn-outline-primary" title="Link to the Botany Annual Accessions Project Dashboard">Botany Project Dashboard</a>

                            </div>
                        </div>
                  </li>

                
            </ul>



    {% elif team == "md" %}
            {% for table in tables_md %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>We thank DAMS for providing DPO with access to their data. </p>
    {% elif team == "is" %}
            {% for table in tables_is %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>We thank DAMS for providing DPO with access to their data. </p>
    {% elif team == "inf" %}
            {% for table in tables_inf %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>Some projects may 
                touch the same records, so the total above will be less than the sum of all projects.</p>
            <p>Small projects (<em>e.g.</em> simple file edits, data transfer, small data fixes) are not
                included in the table above.</p>

            <hr>
            <h2>Software We Have Published</h2>
            {% for table in tables_software %}
                {{ table|safe }}
            {% endfor %}
                
    {% endif %}

    <br>

    <!--
        <p>Select one of the buttons at the top right to see the specific projects of each team.</p>
        <p>Thanks to the DAMS team for providing some of the data used in these reports.</p>
    -->
    <br><br>

{% endblock %}


{% block javascripts %}


    <!-- Datatables -->
    <script type="text/javascript">

        $('#list_projects_md').append('<caption style="caption-side: top;"><h2>Mass Digitization Projects</h2></caption>');

        $('#list_projects_is').append('<caption style="caption-side: top;"><h2>Imaging Services Projects</h2></caption>');

        $('#list_projects_inf').append('<caption style="caption-side: top;"><h2>Informatics Projects (under construction)</h2></caption>');

        $(document).ready( function () {
            var table1 = $('#list_projects_md').DataTable({
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            table1.column( 0 ).visible( false );

            var table2 = $('#list_projects_is').DataTable({
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            table2.column( 0 ).visible( false );

            var table3 = $('#list_projects_inf').DataTable({
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            
            var table4 = $('#list_software').DataTable({
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

        });
    </script>

{% endblock %}
