<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SI Elements -->
    <link rel="preload" href="{{ url_for('static', filename='css/qfv0ytn.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qfv0ytn.css') }}">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Datatables -->
    <!-- <link
            href="{{ url_for('static', filename='css/datatables.min.css') }}"
            rel="stylesheet"
            /> -->
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.4/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/sc-2.4.3/datatables.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- <link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
            /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet" />

    <!-- Osprey-specific CSS -->
    <link href="{{ url_for('static', filename='css/osprey_custom.min.css') }}" rel="stylesheet" />
    
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <title class="pagetitle">{{ html_title }}</title>

</head>
<body>

<div class="skipnav"><a href="#maincontent">Skip to main content</a></div>

<div class="container-fluid">

    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow text-white pt-2" style="background: #3F4249!important;">
      <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand navtitle" href="/" title="Collections Digitization Dashboard">{{ html_title }}{% if site_net == "internal" %} - SI Internal{% endif %}</a>
            
        <div class="row">
            <div class="col">

            {% if username %}

                <div style="text-align: right; color: #FFFFFF;">
                    <small>
                        <a href="{{ url_for('home') }}" class="navitems" aria-label="User Home" title="User Home"> My Projects ({{ username }})</a>
                        <a href="{{ url_for('about') }}" class="navitems" aria-label="Go to about page">About</a>
                        <a href="https://github.com/Smithsonian/Osprey/blob/master/documentation/Osprey_User_Guide/OspreyUserGuide.md" class="navitems" aria-label="User Guide">User Guide</a>
                        <a href="{{ url_for('logout') }}" class="navitems" aria-label="Logout of the system" title="Logout of the system">Logout</a>
                    </small>
                </div>

            {% else %}

                <div style="text-align: right; color: #FFFFFF;">
                    <small>
                        {% if asklogin %} <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="navitems" aria-label="Login into the system"><i class="fa-solid fa-user"></i> Login</a> {% endif %}
                        <a href="{{ url_for('about') }}" class="navitems" aria-label="Go to about page">About</a>
                        <a href="https://github.com/Smithsonian/Osprey/blob/master/documentation/Osprey_User_Guide/OspreyUserGuide.md" class="navitems" aria-label="User Guide">User Guide</a>
                    </small>
                </div>

            {% endif %}

            </div>
            </div>
        </div>
    </nav>

    <br>

    <a name="maincontent"></a>

    <div class="row">
        <div class="col"><h1>{{ team_heading }}</h1></div>
        <div class="col">
            <!-- Choose team -->
            <div style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Buttons to select team">
                    <a href="{{ app_root }}/" aria-label="Link to summary statistics of Collections Digitization" type="button" class="btn btn-outline-dark {% if team == "summary" %}active{% endif %}" aria-pressed="{% if team == "summary" %}true{% else %}false{% endif %}">Summary</a>
                    <a href="{{ app_root }}/team/md" aria-label="Link to summary statistics of the Mass Digitization team" type="button" class="btn btn-outline-dark {% if team == "md" %}active{% endif %}" aria-pressed="{% if team == "md" %}true{% else %}false{% endif %}">Mass Digitization</a>
                    <a href="{{ app_root }}/team/is" aria-label="Link to summary statistics of the Imaging Services Team" type="button" class="btn btn-outline-dark {% if team == "is" %}active{% endif %}" aria-pressed="{% if team == "is" %}true{% else %}false{% endif %}">Imaging Services</a>
                    <a href="{{ app_root }}/team/inf" aria-label="Link to summary statistics of the Informatics Team" type="button" class="btn btn-outline-dark {% if team == "inf" %}active{% endif %}" aria-pressed="{% if team == "inf" %}true{% else %}false{% endif %}">Informatics</a>
                </div>
            </div>
        </div>
    </div>


    {% if team != "inf" %}

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Specimens/Objects Digitized:</strong> {{ summary_stats.objects_digitized }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Images Captured:</strong> {{ summary_stats.images_captured }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Digitization Projects:</strong> {{ summary_stats.digitization_projects }}</li>
        </ul>

    {% else %}

        <ul class="list-group list-group-horizontal">
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Records Created or Enhanced:</strong> {{ summary_stats.records }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Projects:</strong> {{ summary_stats.digitization_projects }}</li>
            <li class="list-group-item active flex-fill" style="font-size:x-large;"><strong>Active Projects:</strong> {{ summary_stats.active_projects }}</li>
        </ul>

    {% endif %}

    <hr>

    {% if team == "summary" %}

        <p>The <strong>Collections Digitization</strong> program of the Digitization Program Office supports Smithsonian museums in their efforts to digitize collections as comprehensively, quickly, and cost-effectively as possible by building end-to-end workflows, creating high speed, high quality digitization processes, and by pairing up the digital surrogates we create with the collections records stored in the Smithsonian's various databases.</p>

        <hr>

        <p style="font-size: x-large;">Some of our projects:</p>

        <div class="row">
            <div class="col-6">
                <!-- Project -->
                <div class="row">
                    <div class="col">
                        <p style="font-size: large;" class="card-title"><strong>Digitization of the JPC Archive is Now in Production</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url_for('dashboard', project_alias = 'jpc_production') }}" title="Link to the JPC Archive Prodcution Project Dashboard"><img src="{{ url_for('static', filename='items/Hank_Aaron.jpg') }}" class="img-fluid" alt="Photo of Hank Aaron from the JPC Archive" style="padding: 10px;"></a>
                    </div>
                    <div class="col">
                            <p>After the successful <em>Pilot</em> and <em>Priority One</em> projects, we have started the <em>Production 1A</em> project of the digitization of the JPC Archive. This phase will digitize more than 328,000 reflective and transmissive photographic items.</p>
                            <a href="{{ url_for('dashboard', project_alias = 'jpc_production') }}" class="btn btn-sm btn-outline-primary" title="Link to the JPC Archive Prodcution Project Dashboard">JPCA Production Project Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- Project -->
                <div class="row">
                    <div class="col">
                        <p style="font-size: large;" class="card-title"><strong>Digitizing the American Women's History Museum</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url_for('homepage', team = 'is', subset = 'sawhm') }}" title="Link to the SAWHM Projects"><img src="{{ url_for('static', filename='items/sawhm_1.jpg') }}" class="img-fluid" alt="Logo of the SAWHM" style="padding: 10px;"></a>
                    </div>
                    <div class="col">
                        <p>The Imaging Services team is digitizing collections and archives for the Smithsonian American Women's History Museum.</p>
                        <a href="{{ url_for('homepage', team = 'is', subset = 'sawhm') }}" class="btn btn-sm btn-outline-primary" title="Link to the SAWHM Projects">SAWHM Projects</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-6">
                <!-- Project -->
                <div class="row">
                    <div class="col">
                        <br><p style="font-size: large;" class="card-title"><strong>Digitization of the National Herbarium Continues</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url_for('dashboard', project_alias = 'botany_accessions') }}" title="Link to the Botany Annual Accessions Project Dashboard"><img src="{{ url_for('static', filename='items/botany_accession_sample.jpg') }}" class="img-fluid" alt="Digitized mounted specimen from the National Herbarium Collection" style="padding: 10px;"></a>
                    </div>
                    <div class="col">
                        <p>We continue to digitize the Herbarium of the National Museum of Natural History. The project digitizes new accessions to the collection.</p>
                        <a href="{{ url_for('dashboard', project_alias = 'botany_accessions') }}" class="btn btn-sm btn-outline-primary" title="Link to the Botany Annual Accessions Project Dashboard">Botany Project Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                 <!-- Project -->
                 <div class="row">
                    <div class="col">
                        <br><p style="font-size: large;" class="card-title"><strong>A Photoshoot with 26,000 Mussel Lots</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{{ url_for('dashboard', project_alias = 'nmnh_unionoida') }}" title="Link to the Unionoida Project Dashboard"><img src="{{ url_for('static', filename='items/unionoida.jpg') }}" class="img-fluid" alt="Digitized specimen of freshwater mussel shells and scalebar" style="padding: 10px;"></a>
                    </div>
                    <div class="col">
                        <p>We digitized over 26,000 lots, with up to three individuals per lot,
                            adding almost 140,000 images of freshwater mussels - otherwise known as the Mollusca order Unionoida.</p>
                        <a href="{{ url_for('dashboard', project_alias = 'nmnh_unionoida') }}" class="btn btn-sm btn-outline-primary" title="Link to the Unionoida Project Dashboard">Unionoida Project Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        

    {% elif team == "md" %}

            <p><strong>Mass Digitization</strong> aims to digitize large museum collections efficiently without sacrificing image quality or object care. This method employs three major workflows: physical, imaging, and virtual, designed to handle objects safely, optimize capture throughputs, and automate image delivery. Guiding principles include comprehensive end-to-end processes, high-volume work for economies of scale, relentless pursuit of efficiency, and robust project management. Our innovative Item Driven Image Fidelity (IDIF) wherein we determine the optimal resolvable resolution for a project, and institution-wide infrastructure, create sustainable, repeatable results. To date, over 5.4 million items have been successfully digitized. </p>

            <hr>
            
            {% for table in tables_md %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>We thank DAMS for providing DPO with access to their data. </p>
    {% elif team == "is" %}

            <p><strong>Imaging Services</strong> acts as a focal point in the Smithsonian Institution for photographic support. Addressing a crucial need within the Smithsonian Institution by providing digital imaging support for annually accessioned objects (referred to as "keep-up" digitization) and for small-scale collections, particularly in smaller museums and departments lacking staff photographers. These projects may be executed by the unit under the supervision and training of Imaging Services, or directly undertaken by Imaging Services' in-house imaging staff, without the involvement of external vendors.</p>
            
            <hr>
            
            {% for table in tables_is %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>We thank DAMS for providing DPO with access to their data. </p>
    {% elif team == "inf" %}

            <p>In the <strong>Informatics</strong> team, we provide essential support for informatics projects that involve enriching or creating digital records, supported by guidance, funding, and in-kind resources from the DPO. Our approach focuses on scalability, automation, interconnectivity, innovation, machine learning, open-source software, and reusable solutions. We prioritize workflows capable of handling large volumes of records, automating tedious tasks, and establishing seamless data transfer between systems. Research into cutting-edge tools and technologies, including AI, allows us to enhance images and records. We promote transparency through open-source software and develop adaptable solutions for broader applications across projects and institutions. </p>

            <hr>

            {% for table in tables_inf %}
                {{ table|safe }}
            {% endfor %}
            <p>* Value was estimated</p>
            <p>Some projects may 
                touch the same records, so the total above will be less than the sum of all projects.</p>
            <p>Small projects (<em>e.g.</em> simple file edits, data transfer, small data fixes) are not
                included in the table above.</p>

            <hr>
            <h2>Software We Have Published</h2>
            {% for table in tables_software %}
                {{ table|safe }}
            {% endfor %}
                
    {% endif %}

    <br><br><br>


</div>

{% if form %}
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="loginModalLabel">Log In to the System</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form method="post" action="/" autocomplete="off" class="p-4 p-md-4 border rounded-3 bg-light">

        <p><strong>Do not</strong> use your SI credentials. This feature will be added in a future version.</p>

        {{ form.hidden_tag() }}

        <p class="fw-bold">
            {% if msg %}
                {{ msg | safe }}
            {% endif %}
        </p>

        <br />

        <div class="form-floating mb-3">
            {{ form.username(class="form-control", aria_label='Username', autocomplete="off") }}
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class="form-control", aria_label='Password', type="password", autocomplete="off") }}
            <label for="password">Password</label>
        </div>
        <br />

        <button class="w-100 btn btn-lg btn-primary" type="submit" aria-label='Sign In'>Sign In</button>

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<footer class="page-footer font-small bg-secondary pt-2" style="background: #3F4249!important;">
  <!-- Footer Elements -->
  <div class="container-fluid">
      <div class="row">
        <div class="col">
            <a href="https://dpo.si.edu" class="text-white footer-text"><img src="{{ url_for('static', filename='logo-white-300.png') }}" aria-label="Logo of the Smithsonian Digitization Program Office" alt="Logo of the Smithsonian Digitization Program Office"></a>
        </div>
        <div class="col">
            {% if site_net == "internal" %}
                <p><a href="https://sinet.sharepoint.com/sites/ODT" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Office of Digital Transformation">Office of Digital Transformation</a></p>
            {% endif %}
            <p><a href="{{ url_for('about') }}" class="text-white footer-text" style="background: #3F4249!important;" title="Link to page with contact information and about the system">About & Contact</a></p>
            <p><a href="https://www.si.edu/termsofuse" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Terms of Use">Terms of Use</a></p>
            <p><a href="https://www.si.edu/vulnerability-disclosure-policy" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Vulnerability Disclosure Policy">Vulnerability Disclosure Policy</a></p>
        </div>
        <div class="col">
            {% if site_net == "external" %}
                <p><a href="https://si.edu/" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Smithsonian Homepage">Smithsonian Home</a></p>
            {% else %}
                <p><a href="https://prism.si.edu/" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the PRISM website">PRISM</a></p>
            {% endif %}
            <p><a href="https://www.si.edu/Accessibility" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Accessibility information page">Accessibility</a></p>
            <p><a href="https://www.si.edu/privacy" class="text-white footer-text" style="background: #3F4249!important;" title="Link to the Privacy information page">Privacy</a></p>
        </div>

    </div>
 </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!-- JQuery -->
    <!-- <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"
    ></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <!-- <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
    ></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Datatables -->
    <!-- <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/datatables.min.js') }}"
    ></script> -->
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.1.4/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/sc-2.4.3/datatables.min.js"></script>

    <!-- Datatables -->
    <script type="text/javascript">

        $('#list_projects_md').append('<caption style="caption-side: top;"><h2>Mass Digitization Projects</h2></caption>');

        {% if subset is not none %}
            $('#list_projects_is').append('<caption style="caption-side: top;"><h2>Imaging Services Projects (SAWHM projects only)</h2></caption>');
        {% else %}
            $('#list_projects_is').append('<caption style="caption-side: top;"><h2>Imaging Services Projects</h2></caption>');
        {% endif %}


        $('#list_projects_inf').append('<caption style="caption-side: top;"><h2>Informatics Projects (under construction)</h2></caption>');

        $(document).ready( function () {
            var table1 = $('#list_projects_md').DataTable({
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            table1.column( 0 ).visible( false );

            var table2 = $('#list_projects_is').DataTable({
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            table2.column( 0 ).visible( false );

            var table3 = $('#list_projects_inf').DataTable({
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

            
            var table4 = $('#list_software').DataTable({
                "ordering": false,
                "searching": false,
                "paging": false,
                "lengthChange": false
            });

        });
    </script>

    {% if site_env == "prod" %}
        <!-- Analytics block -->
        {{ analytics_code | safe }}
    {% endif %}
    
</body>
</html>
