{% extends "base.html" %}

{% block title %}DPO Collection Digitization Dashboard{% endblock %}

{% block homelink %}
    <a class="navbar-brand navtitle" href="/" title="Collections Digitization Dashboard">DPO Collection Digitization Dashboard</a>
{% endblock %}

{% block content %}

    <h2>User not found or wrong password</h2>

    <p>If you are having problems loggin in, make sure to use your full email (@si.edu) address. If the problem persist, please contact the Project Manager of your project.</p>

    <p><a href="{{ url_for('homepage') }}">Return to home</a></p>

            <br><br>

        <hr>


{% endblock %}
