flask
requests
simplejson
beautifulsoup4
flask-login
wtforms
flask_wtf
pandas
numpy>=1.26.0
Flask-Caching
PyMySQL
Pillow>=10.1.0
werkzeug>=3.0.1
Flask-Minify
pymysql-pooling
mysql-connector-python
plotnine
python-ldap
#mod-wsgi
