<VirtualHost *>
    ServerName [servername.com]

     ServerAdmin [email]
     ServerName [servername.com]
     DocumentRoot /var/www/app

    # Create and activate the `venv` folder first and install required modules there
    #  App folder is at /var/www/app/
    WSGIDaemonProcess app user=www-data group=www-data processes=4 python-home=/var/www/app/venv
    WSGIScriptAlias /mdpp /var/www/app/app.wsgi

    <Directory /var/www/app>
        WSGIProcessGroup app
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>


</VirtualHost>
