{% extends "base.html" %}

{% block title %}Osprey Dashboard{% endblock %}

{% block page_title %}Osprey Dashboard{% endblock %}

{% block content %}

    <h1>My Projects:</h1>

    {% for project in project_list %}
          <h2>{{ project.project_title }}
                <a class="btn btn-info btn-sm" href="{{ url_for('dashboard', project_id=project.project_alias) }}" role="button"><i class="fa-solid fa-gauge-high"></i> Project Dashboard</a>
                <a class="btn btn-info btn-sm" href="{{ url_for('qc', project_id=project.project_alias) }}" role="button"><i class="fa-solid fa-gauge-high"></i> Run QC</a>
          </h2>

        <p>
            <small>
                {% if project.project_start == project.project_end %}
                    {{ project.project_start }}
                {% elif project.project_end == None %}
                    {{ project.project_start }} -
                {% else %}
                    {{ project.project_start }} - {{ project.project_end }}
                {% endif %}
            </small>
        </p>

        <div class="row">

            <div class="col">
                <div class="card">
                  <h4><span class="badge bg-primary d-flex">{{ project.total }} Total Files</span></h4>
                  <div class="card-body">
                    <p class="card-text">Total number of files in project</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <h4><span class="badge bg-success d-flex">{{ project.ok }} Files OK</span></h4>
                  <div class="card-body">
                    <p class="card-text">Files that passed all the checks</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <h4><span class="badge bg-danger d-flex">{{ project.errors }} Files with Errors</span></h4>
                  <div class="card-body">
                    <p class="card-text">Files that failed one or more checks</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <h4><span class="badge bg-secondary d-flex">{{ project.running }} Running</span></h4>
                  <div class="card-body">
                    <p class="card-text">Files that are currently being checked</p>
                  </div>
                </div>
            </div>
        </div>

            <br><br>

        <hr>

      {% endfor %}

{% endblock %}
