
{% if kiosk %}
    {% extends "base_kiosk.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block title %}DPO Collection Digitization Dashboard{% endblock %}

{% block page_title %}DPO Collection Digitization Dashboard{% endblock %}

{% block homelink %}/{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <p>Osprey Dashboard version {{ site_ver }}<br>
            Source at <a href="https://github.com/Smithsonian/Osprey" target="_blank" rel="noopener noreferrer" title="Opens in new window">https://github.com/Smithsonian/Osprey <i class="small fa-solid fa-arrow-up-right-from-square"></i><span class="screen-reader-only">(link is external)</span></a>
            <p>This is a project of:</p>
            <p class="px-3">
                <a href="https://dpo.si.edu/">Digitization Program Office<br>
                <a href="https://www.si.edu/ocio">Office of the Chief Information Officer</a><br>
                <a href="http://si.edu/">Smithsonian</a>
            </p>
        </div>
        <div class="col">
{#            <img src="{{ url_for('static', filename='dpo266.png') }}" style="text-align: right; float: right;">#}
            <img src="{{ url_for('static', filename='dpo266.png') }}" class="me-0" alt="Logo of the Digitization Program Office">
        </div>
    </div>


            <br><br>

        <hr>


{% endblock %}
