{% extends "base.html" %}

{% block title %}Details of {{ file_details.file_name }} - DPO Collections Digitization Dashboard{% endblock %}

{% block page_title %}Details of {{ file_details.file_name }}{% endblock %}

{% block head_blocks %}


{% endblock %}


{% block content %}

    <div class="row">

        <div class="col">
             <p>
                <a class="btn btn-primary btn-sm" href="{{ url_for('dashboard_f', project_alias=project_alias, folder_id=folder_info.folder_id) }}" title="Folder {{ folder_info.project_folder }} page" role="button">
                    <i class="fa-solid fa-list"></i> Back to folder {{ folder_info.project_folder }}
                </a>
            </p>
        </div>
        <div class="col">
            <p style="text-align: right;">
                <a class="btn btn-primary btn-sm{% if file_details.prev_id %}" href="{{ url_for('file', file_id=file_details.prev_id) }}{% else %} disabled" href="#{% endif %}" role="button">
                    <i class="fa-solid fa-chevron-left"></i> Prev File</a>
                <a class="btn btn-primary btn-sm{% if file_details.next_id %}" href="{{ url_for('file', file_id=file_details.next_id) }}{% else %} disabled" href="#{% endif %}" role="button">
                Next File <i class="fa-solid fa-chevron-right"></i></a>
                <br><small>(by alphabetical order)</small>
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <h4>Image Preview:</h4>

                    {% if kiosk  %}

                        <img src="{% if file_details.preview_image_ext == None %}{{ url_for('get_preview', file_id=file_details.file_id, max=600) }}{% else %}{{ file_details.preview_image_ext }}&max=600{% endif %}" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top">

                    {% else %}

                        <a href="{% if file_details.preview_image_ext == None %}{{ file_details.preview_image }}{% else %}{{ file_details.preview_image_ext }}{% endif %}" rel="noopener noreferrer" title="Preview image of {{ file_details.file_name }}">
                            <img src="{% if file_details.preview_image_ext == None %}{{ url_for('get_preview', file_id=file_details.file_id, max=600) }}{% else %}{{ file_details.preview_image_ext }}&max=600{% endif %}" alt="Preview image of {{ file_details.file_name }}" class="img-fluid card-img-top"></a>

                    <h5>Filename: {{ file_details.file_name }}</h5>
                        <small>File ID: {{ file_details.file_id }}</small>

                        {% if file_links|length > 0 %}
                        <!-- File Links -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Links related to this image:</h5>
                                    <div class="list-group">

                                    {% for link in file_links %}
                                          <a href="{{ link.link_url }}" class="list-group-item">{{ link.link_name | safe }}</a>
                                    {% endfor %}

                                    </div>

                            <!-- End card -->
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}

                <table class="table compact table-striped" style="width:100%">
                    <caption style="caption-side: top;"><h4>File Technical Checks</h4></caption>
                <thead>
                    <tr>
                        <th>Check</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for check in file_checks %}
                        <tr>
                            <td>
                                <strong>{{ check.file_check }}</strong><br>
                                <small>
                                    {% if check.file_check == 'tif_compression' %}
                                        TIF file is compressed using the lossless compression LZW.
                                    {% elif check.file_check == 'tifpages' %}
                                        Check that there are no more than 1 page in the TIF, usually a thumbnail.
                                    {% elif check.file_check == 'magick' %}
                                        File is valid according to ImageMagick.
                                    {% elif check.file_check == 'jhove' %}
                                        File is valid according to <abbr title="JSTOR/Harvard Object Validation Environment">JHOVE</abbr>.
                                    {% elif check.file_check == 'unique_file' %}
                                        Filename is unique in the project.
                                    {% elif check.file_check == 'raw_pair' %}
                                        Raw file was found for the image.
                                    {% elif check.file_check == 'valid_name' %}
                                        Filename is in the list of allowed names.
                                    {% elif check.file_check == 'old_name' %}
                                        Filename was not found in list outside the project.
                                    {% elif check.file_check == 'derivative' %}
                                        Derivative file is present.
                                    {% elif check.file_check == 'prefix' %}
                                        Filename has the correct prefix.
                                    {% elif check.file_check == 'sequence' %}
                                        File sequence is correct.
                                    {% else %}
                                        Checks for {{ check.file_check }}.
                                    {% endif %}
                                </small>
                            </td>
                            <td>
                                {% if check.check_results == 0 %}
                                    <button type="button" class="btn btn-success btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">OK</button>
                                {% elif check.check_results == 1 %}
                                    <button type="button" class="btn btn-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">Failed</button>
                                {% elif check.check_results == 9 %}
                                    <button type="button" class="btn btn-secondary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">Pending</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>


                    <div class="modal fade" id="checkmodal" tabindex="-1" aria-labelledby="checkmodalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="checkmodalLabel">Check Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <pre>#</pre>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

        </div>
        <div class="col">
            <!--Embedded Metadata:</h4> -->
            <div style="font-size: 0.9em;">
                {% for table in tables %}
                    {% if file_metadata_rows > 0 %}
                       {{ table|safe }}
                    {% else %}
                        <p>Image metadata is not available.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {

            $('#file_metadata').append('<caption style="caption-side: top;"><h4>Embedded metadata in the file: {{ file_details.file_name }}</h4></caption>');

            $('#file_metadata').DataTable({
                dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5',
                            'excelHtml5',
                            'pdfHtml5'
                        ],
                    "order": [],
                    "columnDefs": [
                        {
                            'targets': 0,
                            'createdCell':  function (td, cellData, rowData, row, col) {
                                $(td).attr('scope', 'row');
                            }
                        }],
                    lengthMenu: [
                        [25, 50, 100, -1],
                        [25, 50, 100, 'All'],
                    ],
            });

            var exampleModal = document.getElementById('checkmodal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var checkinfo = button.getAttribute('data-bs-info')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody = exampleModal.querySelector('.modal-body pre')

              modalBody.textContent = checkinfo
            })

        });
    </script>

{% endblock %}
