{% extends "base.html" %}

{% block title %}Project QC{% endblock %}

{% block page_title %}Project QC{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-8">

            <p><a class="btn btn-info btn-sm" href="{{ url_for('qc', project_alias=project_alias) }}" role="button">
                        <i class="fa-solid fa-arrow-left"></i> Go back to Project QC Page</a>
            </p>

            <h3>QC for folder {{ folder.project_folder }}</h3>

            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ qc_stats.percent_passed + qc_stats.percent_failed }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ qc_stats.percent_passed + qc_stats.percent_failed }}%"></div>
            </div>

            <p>[{{ qc_stats.no_errors + qc_stats.passed }} of {{ qc_stats.no_files }}]</p>

            <hr>

            <br>

            <h4>File: {{ file_details.file_name }}</h4>

        </div>
        <div class="col-4">

                <h4>Visual QC Results:</h4>

                <form action="{{ url_for('qc_process', folder_id=folder.folder_id) }}" method="POST">

                <div class="mb-3">
                    <input type="radio" class="btn-check" name="qc_val" value="0" id="success-outlined" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="success-outlined">Image OK</label><br><br>
                    <input type="radio" class="btn-check" name="qc_val" value="1" id="critical-outlined" autocomplete="off">
                        <label class="btn btn-outline-danger" for="critical-outlined">Critical Issue</label> <small>- Incorrect file name</small><br><br>
                    <input type="radio" class="btn-check" name="qc_val" value="2" id="major-outlined" autocomplete="off">
                        <label class="btn btn-outline-warning text-black" for="major-outlined">Major Issue</label> <small>- Incorrect orientation or rotation, overly cropped image</small><br><br>
                    <input type="radio" class="btn-check" name="qc_val" value="3" id="minor-outlined" autocomplete="off">
                  <label class="btn btn-outline-warning text-black" for="minor-outlined">Minor Issue</label> <small>- Uncropped or skewed</small><br><br>
                </div>
                <div class="mb-3">

                  <p class="text-danger">{{ msg | safe }}</p>
                  <label for="qc_info" class="form-label">QC details or issues:</label>
                  <input type="text" class="form-control" id="qc_info" name="qc_info" aria-label="QC details or issues:">
              </div>
                    <input type="hidden" class="form-control" id="file_id" name="file_id" value="{{ file_details.file_id }}">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </p>
        </div>

    </div>

    <div class="row">

        <!-- Image zoom from: https://www.jacklmoore.com/zoom/ -->
        <p><small>Mouseover the image to zoom in.</small><br>
            <img src="{{ image_url }}" style="width:100%;" id="previmg">
        </p>
        <a><small><a href="{{ image_url }}&dl=1"><i class="fa-solid fa-download"></i> Download JPG</a></small></p>

    </div>

    <div class="row">

    <div class="col-4">

        <h4>Technical Checks:</h4>
        <p><small>File ID: {{ file_details.file_id }}</small></p>


        <table class="table compact table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Check</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for check in file_checks %}
                <tr>
                    <td>
                        <strong>{{ check.file_check }}</strong><br>
                        <small>
                            {% if check.file_check == 'tif_compression' %}
                                TIF file is compressed.
                            {% elif check.file_check == 'tifpages' %}
                                Check that there are no more than 1 page in the TIF, usually a thumbnail.
                            {% elif check.file_check == 'magick' %}
                                File is valid according to ImageMagick.
                            {% elif check.file_check == 'jhove' %}
                                File is valid according to JHOVE.
                            {% elif check.file_check == 'unique_file' %}
                                Filename is unique in the project.
                            {% elif check.file_check == 'raw_pair' %}
                                Raw file was found for the image.
                            {% elif check.file_check == 'valid_name' %}
                                Filename is in the list of allowed names.
                            {% elif check.file_check == 'old_name' %}
                                Filename was not found in list outside the project.
                            {% elif check.file_check == 'derivative' %}
                                Derivative file is present.
                            {% elif check.file_check == 'prefix' %}
                                Filename has the correct prefix.
                            {% endif %}
                        </small>
                    </td>
                    <td>
                        {% if check.check_results == 0 %}
                            <button type="button" class="btn btn-success btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}" title="Click for details">OK</button>
                        {% elif check.check_results == 1 %}
                            <button type="button" class="btn btn-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}" title="Click for details">Failed</button>
                        {% elif check.check_results == 9 %}
                            <button type="button" class="btn btn-secondary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#checkmodal" data-bs-info="{{ check.check_info }}">Pending</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>


            <div class="modal fade" id="checkmodal" tabindex="-1" aria-labelledby="checkmodalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Check Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <pre>#</pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


    </div>
    <div class="col">
        <h4>Embedded Metadata:</h4>
            <div style="font-size: 0.9em;">
                {% for table in tables %}
                       {{ table|safe }}
                {% endfor %}
            </div>
    </div>

</div>


{% endblock %}


{% block javascripts %}

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {
            $('#file_metadata').DataTable({
                "order": [],
                lengthMenu: [
                    [25, 50, 100, -1],
                    [25, 50, 100, 'All'],
                ],
            });


            var exampleModal = document.getElementById('checkmodal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var checkinfo = button.getAttribute('data-bs-info')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody = exampleModal.querySelector('.modal-body pre')

              modalBody.textContent = checkinfo
            })


            //Zoom
            $('#previmg')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom();

        });
    </script>


    <!-- Zoom -->
    <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/jquery.zoom.min.js') }}"
    ></script>


{% endblock %}
