
# Database
host = ""
database = ""
user = ""
password = ""
port = 3306

secret_key = b''

# dev or prod
env = "dev"

# Site is internal or external
site_net = "internal"

log_folder = ""

kiosks = []
