<VirtualHost *>
    ServerName [servername.com]

    # Create and activate the `venv` folder first and install required modules there
    #  App folder is at /var/www/app/
    WSGIDaemonProcess app user=apache group=apache processes=[2] python-home=/var/www/app/venv
    WSGIScriptAlias / /var/www/app/app.wsgi

    <Directory /var/www/app>
        WSGIProcessGroup app
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>


</VirtualHost>
