{% extends "base.html" %}

{% block title %}{{ project_info.project_title }} - Project Dashboard{% endblock %}

{% block page_title %}{{ project_info.project_title }}{% endblock %}

{% block homelink %}{{ url_for('dashboard', project_id=project_alias) }}{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        <div class="card">
          <h2><span class="badge bg-primary d-flex">{{ project_stats.total }} Total Files</span></h2>
          <div class="card-body">
            <p class="card-text">Total number of files in project</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <h2><span class="badge bg-success d-flex">{{ project_stats.ok }} Files OK</span></h2>
          <div class="card-body">
            <p class="card-text">Files that passed all the checks</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <h2><span class="badge bg-primary d-flex">{{ project_stats.public }} Public Files</span></h2>
          <div class="card-body">
            <p class="card-text">Files published to the public</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <h2><span class="badge bg-primary d-flex">{{ project_stats.running }} Running</span></h2>
          <div class="card-body">
            <p class="card-text">Files that are currently being checked</p>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <h2><span class="badge bg-danger d-flex">{{ project_stats.errors }} Files with Errors</span></h2>
          <div class="card-body">
            <p class="card-text">Files that failed one or more checks</p>
          </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-3" style="font-size: 0.9em;">



        <!-- Search Folders -->
        <form action="{{ url_for('search_folders', project_alias=project_alias) }}" method="GET">
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control form-control-sm" id="search" name="q" aria-label="Search Folders" placeholder="Search Folders in the Project">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-sm">Search Folders</button></form>
            </div>
        </div>

        <hr>

        {#List of folders#}
        <div style="overflow-y: auto; height: 1200px;">
            <table class="table table-striped border">
                  <thead>
                    <tr>
                      <th scope="col">Folders</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for folder in project_folders %}
                    <tr>
                        <td>
                            <h6>

                            {% if folder.project_folder == folder_name.project_folder %}
                                <strong><a href="{{ url_for('dashboard_f', project_id=project_alias, folder_id=folder.folder_id) }}">{{ folder.project_folder }}</a></strong>
                            {% else %}
                                <a href="{{ url_for('dashboard_f', project_id=project_alias, folder_id=folder.folder_id) }}">{{ folder.project_folder }}</a>
                            {% endif %}
                            <span class="badge bg-secondary" title="{{ folder.no_files }} files in the folder">{{ folder.no_files }}</span><br>
                            {% if folder.file_errors == 1 %}
                                <span class="badge bg-danger">Files with errors</span>
                            {% endif %}
                            {% if folder.qc_status == "QC Pending" %}
                                <span class="badge bg-secondary">QC Pending</span>
                            {% elif folder.qc_status == "QC Passed" %}
                                <span class="badge bg-success">QC Passed</span>
                            {% elif folder.qc_status == "QC Failed" %}
                                <span class="badge bg-danger">QC Failed</span>
                            {% endif %}

                            {% if folder.delivered_to_dams == 1 %}
                                <span class="badge bg-success">Delivered to DAMS</span>
                            {% elif folder.delivered_to_dams == 0 %}
                                <span class="badge bg-secondary">Ready for DAMS </span>
                            {% endif %}

                            {% if folder.status != 0 %}
                                <span class="badge bg-danger">Folder Error: {{ folder.error_info }}</span>
                            {% endif %}

                            </h6>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col" style="font-size: 0.9em;">

         <!-- Search Files -->
        <form action="{{ url_for('search_files', project_alias=project_alias) }}" method="GET">
        <div class="row">
            <div class="col-8">
                &nbsp;
            </div>
            <div class="col-3">
                <input type="text" class="form-control form-control-sm" id="search" name="q" aria-label="Search Files" placeholder="Search Files in the Project">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-sm">Search Files</button></form>
            </div>
        </div>


    {% if folder_name != None %}

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link {% if tab == 0 %}active{% endif %}" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" {% if tab == 0 %}aria-current="true"{% endif %}>File Checks</button>
            <button class="nav-link {% if tab == 1 %}active{% endif %}" id="nav-lightbox-tab" data-bs-toggle="tab" data-bs-target="#nav-lightbox" type="button" role="tab" aria-controls="nav-lightbox" {% if tab == 1 %}aria-current="true"{% endif %}>Lightbox</button>
            <button class="nav-link {% if tab == 2 %}active{% endif %}" id="nav-postprod-tab" data-bs-toggle="tab" data-bs-target="#nav-postprod" type="button" role="tab" aria-controls="nav-postprod" {% if tab == 2 %}aria-current="true"{% endif %}>Post-Production</button>

          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade {% if tab == 0 %}show active{% endif %}" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">

                {% if folder_links | length > 0 %}

                    <div class="pb-1 float-end">
                        <div class="card text-bg-light border-dark">
                            <div class="card-header">
                                Links related to this folder
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for link in folder_links %}
                                        <li class="list-group-item"><a href="{{ link.link_url }}" target="_blank" title="Link for {{ link.link_text }}" class="card-link">{{ link.link_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <br>
                <p><strong>Files in the Folder: {{ folder_name.project_folder }}</strong></p>

                {% for table in tables %}
                       {{ table|safe }}
                {% endfor %}

          </div>
          <div class="tab-pane fade {% if tab == 1 %}show active{% endif %}" id="nav-lightbox" role="tabpanel" aria-labelledby="nav-lightbox-tab">
              <br>
                <p><strong>Image Previews for the Folder: {{ folder_name.project_folder }}</strong></p>

                  <div class="row">
                      <div class="col">
                          <p><small><em>Sorted by file_name</em></small></p>
                      </div>
                      <div class="col">
                          {{ pagination_html2 | safe }}
                      </div>
                  </div>


                {% for file in files_df %}
                    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#previewmodal1"
                            data-bs-info="{{ file.preview_image }}" data-bs-link="{{ url_for('file', file_id=file.file_id) }}"
                            data-bs-text="Details of the file {{ file.file_name }}" title="Image Preview">
                      <img src="{{ file.preview_image }}&max=160" width="160px" style="padding: 10px;" alt="Image preview of the file {{ file.file_name }}"><br>
                        <small>{{ file.file_name }}</small>
                  </button>

                {% endfor %}

            <br>{{ pagination_html | safe }}

        </div>


          <div class="tab-pane fade {% if postprod %}show active{% endif %}" id="nav-postprod" role="tabpanel" aria-labelledby="nav-postprod-tab">
            <br>

                {% for table in post_processing %}
                       {{ table|safe }}
                {% endfor %}
          </div>

        </div>

              <!-- File preview modal -->
              <div class="modal fade" id="previewmodal1" tabindex="-1" aria-labelledby="previewmodal1Label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="previewmodal1Label">Image Preview (JPG)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p><a href="#" id="filelink">Link</a></p>
                           <img src="#" style="width: 100%;" id="imagepreview" alt="Preview of the image">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

    {% else %}
        <p><em>Select a folder on the left</em></p>

    {% endif %}

    </div>
</div>

{% endblock %}


{% block javascripts %}

    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {
            $('#files_table').DataTable({
                dom: 'Bfrtip',
                    buttons: [
                        'csvHtml5',
                        'excelHtml5',
                        'pdfHtml5'
                    ],
                "order": [],
                lengthMenu: [
                    [25, 50, 100, -1],
                    [25, 50, 100, 'All'],
                ],
                'rowCallback': function(row, data, index){
                    if(data[1] == 'OK'){
                        $(row).find('td:eq(1)').css('background', '#198754');
                        $(row).find('td:eq(1)').css('color', 'white');
                    } else if(data[1] == 'Failed'){
                        $(row).find('td:eq(1)').css('background', '#dc3545');
                        $(row).find('td:eq(1)').css('color', 'white');
                    } else if(data[1] == 'Pending'){
                        $(row).find('td:eq(1)').css('background', '#e2e3e5');
                        $(row).find('td:eq(1)').css('color', 'black');
                    };
                    if(data[3] == 'OK'){
                        $(row).find('td:eq(3)').css('background', '#198754');
                        $(row).find('td:eq(3)').css('color', 'white');
                    } else if(data[3] == 'Failed'){
                        $(row).find('td:eq(3)').css('background', '#dc3545');
                        $(row).find('td:eq(3)').css('color', 'white');
                    } else if(data[3] == 'Pending'){
                        $(row).find('td:eq(3)').css('background', '#e2e3e5');
                        $(row).find('td:eq(3)').css('color', 'black');
                    };
                    if(data[2] == 'OK'){
                        $(row).find('td:eq(2)').css('background', '#198754');
                        $(row).find('td:eq(2)').css('color', 'white');
                    } else if(data[2] == 'Failed'){
                        $(row).find('td:eq(2)').css('background', '#dc3545');
                        $(row).find('td:eq(2)').css('color', 'white');
                    } else if(data[2] == 'Pending'){
                        $(row).find('td:eq(2)').css('background', '#e2e3e5');
                        $(row).find('td:eq(2)').css('color', 'black');
                    };
                    if(data[4] == 'OK'){
                        $(row).find('td:eq(4)').css('background', '#198754');
                        $(row).find('td:eq(4)').css('color', 'white');
                    } else if(data[4] == 'Failed'){
                        $(row).find('td:eq(4)').css('background', '#dc3545');
                        $(row).find('td:eq(4)').css('color', 'white');
                    } else if(data[4] == 'Pending'){
                        $(row).find('td:eq(4)').css('background', '#e2e3e5');
                        $(row).find('td:eq(4)').css('color', 'black');
                    };
                    if(data[5] == 'OK'){
                        $(row).find('td:eq(5)').css('background', '#198754');
                        $(row).find('td:eq(5)').css('color', 'white');
                    } else if(data[5] == 'Failed'){
                        $(row).find('td:eq(5)').css('background', '#dc3545');
                        $(row).find('td:eq(5)').css('color', 'white');
                    } else if(data[5] == 'Pending'){
                        $(row).find('td:eq(5)').css('background', '#e2e3e5');
                        $(row).find('td:eq(5)').css('color', 'black');
                    };
                    if(data[6] == 'OK'){
                        $(row).find('td:eq(6)').css('background', '#198754');
                        $(row).find('td:eq(6)').css('color', 'white');
                    } else if(data[6] == 'Failed'){
                        $(row).find('td:eq(6)').css('background', '#dc3545');
                        $(row).find('td:eq(6)').css('color', 'white');
                    } else if(data[6] == 'Pending'){
                        $(row).find('td:eq(6)').css('background', '#e2e3e5');
                        $(row).find('td:eq(6)').css('color', 'black');
                    };
                    if(data[7] == 'OK'){
                        $(row).find('td:eq(7)').css('background', '#198754');
                        $(row).find('td:eq(7)').css('color', 'white');
                    } else if(data[7] == 'Failed'){
                        $(row).find('td:eq(7)').css('background', '#dc3545');
                        $(row).find('td:eq(7)').css('color', 'white');
                    } else if(data[7] == 'Pending'){
                        $(row).find('td:eq(7)').css('background', '#e2e3e5');
                        $(row).find('td:eq(7)').css('color', 'black');
                    };
                },
            });

            $('#post_processing_table').DataTable({
                "order": [],
                lengthMenu: [
                    [25, 50, 100, -1],
                    [25, 50, 100, 'All'],
                ],
                'rowCallback': function(row, data, index){
                    if(data[1] == 'Completed'){
                        $(row).find('td:eq(1)').css('background', '#198754');
                        $(row).find('td:eq(1)').css('color', 'white');
                    } else if(data[1] == 'Failed'){
                        $(row).find('td:eq(1)').css('background', '#dc3545');
                        $(row).find('td:eq(1)').css('color', 'white');
                    } else if(data[1] == 'Pending'){
                        $(row).find('td:eq(1)').css('background', '#e2e3e5');
                        $(row).find('td:eq(1)').css('color', 'black');
                    };
                    if(data[3] == 'Completed'){
                        $(row).find('td:eq(3)').css('background', '#198754');
                        $(row).find('td:eq(3)').css('color', 'white');
                    } else if(data[3] == 'Failed'){
                        $(row).find('td:eq(3)').css('background', '#dc3545');
                        $(row).find('td:eq(3)').css('color', 'white');
                    } else if(data[3] == 'Pending'){
                        $(row).find('td:eq(3)').css('background', '#e2e3e5');
                        $(row).find('td:eq(3)').css('color', 'black');
                    };
                    if(data[2] == 'Completed'){
                        $(row).find('td:eq(2)').css('background', '#198754');
                        $(row).find('td:eq(2)').css('color', 'white');
                    } else if(data[2] == 'Failed'){
                        $(row).find('td:eq(2)').css('background', '#dc3545');
                        $(row).find('td:eq(2)').css('color', 'white');
                    } else if(data[2] == 'Pending'){
                        $(row).find('td:eq(2)').css('background', '#e2e3e5');
                        $(row).find('td:eq(2)').css('color', 'black');
                    };
                    if(data[4] == 'Completed'){
                        $(row).find('td:eq(4)').css('background', '#198754');
                        $(row).find('td:eq(4)').css('color', 'white');
                    } else if(data[4] == 'Failed'){
                        $(row).find('td:eq(4)').css('background', '#dc3545');
                        $(row).find('td:eq(4)').css('color', 'white');
                    } else if(data[4] == 'Pending'){
                        $(row).find('td:eq(4)').css('background', '#e2e3e5');
                        $(row).find('td:eq(4)').css('color', 'black');
                    };
                    if(data[5] == 'Completed'){
                        $(row).find('td:eq(5)').css('background', '#198754');
                        $(row).find('td:eq(5)').css('color', 'white');
                    } else if(data[5] == 'Failed'){
                        $(row).find('td:eq(5)').css('background', '#dc3545');
                        $(row).find('td:eq(5)').css('color', 'white');
                    } else if(data[5] == 'Pending'){
                        $(row).find('td:eq(5)').css('background', '#e2e3e5');
                        $(row).find('td:eq(5)').css('color', 'black');
                    };
                    if(data[6] == 'Completed'){
                        $(row).find('td:eq(6)').css('background', '#198754');
                        $(row).find('td:eq(6)').css('color', 'white');
                    } else if(data[6] == 'Failed'){
                        $(row).find('td:eq(6)').css('background', '#dc3545');
                        $(row).find('td:eq(6)').css('color', 'white');
                    } else if(data[6] == 'Pending'){
                        $(row).find('td:eq(6)').css('background', '#e2e3e5');
                        $(row).find('td:eq(6)').css('color', 'black');
                    };
                    if(data[7] == 'Completed'){
                        $(row).find('td:eq(7)').css('background', '#198754');
                        $(row).find('td:eq(7)').css('color', 'white');
                    } else if(data[7] == 'Failed'){
                        $(row).find('td:eq(7)').css('background', '#dc3545');
                        $(row).find('td:eq(7)').css('color', 'white');
                    } else if(data[7] == 'Pending'){
                        $(row).find('td:eq(7)').css('background', '#e2e3e5');
                        $(row).find('td:eq(7)').css('color', 'black');
                    };
                },
            });

            var previewmodal1 = document.getElementById('previewmodal1');
            previewmodal1.addEventListener('show.bs.modal', function (event) {
              // Button that triggered the modal
              var button = event.relatedTarget
              // Extract info from data-bs-* attributes
              var checkinfo = button.getAttribute('data-bs-info')
              var filelink = button.getAttribute('data-bs-link')
              var filetext = button.getAttribute('data-bs-text')
              // If necessary, you could initiate an AJAX request here
              // and then do the updating in a callback.
              //
              // Update the modal's content.
              var modalBody1 = previewmodal1.querySelector('.modal-body img')
              modalBody1.src = checkinfo + '&max=1200';
              var modalBody2 = previewmodal1.querySelector('.modal-body a')
              modalBody2.href = filelink;
              previewmodal1.querySelector('.modal-body a').innerHTML = filetext;
            });


            // Refresh dashboard after 10 minutes of inactivity
            // https://stackoverflow.com/a/55144842
            function reloadPage() {
                clearTimeout(idleTime);
                idleTime = setTimeout(function () {
                    location.reload();
                }, 600000);
            }

            var idleTime;
             reloadPage();
            $('html').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
                clearTimeout(idleTime);
                reloadPage();
            });


        });

    </script>


    <script type="text/javascript">

            var triggerTabList = [].slice.call(document.querySelectorAll('#nav-tab a'))
                triggerTabList.forEach(function (triggerEl) {
                  var tabTrigger = new bootstrap.Tab(triggerEl)

                  triggerEl.addEventListener('click', function (event) {
                    event.preventDefault()
                    tabTrigger.show()
                  })
                })

    </script>

{% endblock %}
