{% extends "base.html" %}

{% block title %}DPO Collection Digitization Projects{% endblock %}

{% block page_title %}DPO Collection Digitization Projects{% endblock %}

{% block content %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Summary</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="md-tab" data-bs-toggle="tab" data-bs-target="#md" type="button" role="tab" aria-controls="md" aria-selected="false">Mass Digitization</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="is-tab" data-bs-toggle="tab" data-bs-target="#is" type="button" role="tab" aria-controls="is" aria-selected="false">Imaging Services</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="inf-tab" data-bs-toggle="tab" data-bs-target="#inf" type="button" role="tab" aria-controls="inf" aria-selected="false">Informatics</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <br>

        <div class="row">
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Specimens/Objects Digitized
                  </div>
                  <div class="card-body">
                    <h1>{{ summary_stats.objects_digitized }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Images Captured
                  </div>
                  <div class="card-body">
                    <h1>{{ summary_stats.images_captured }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Public Images
                  </div>
                  <div class="card-body">
                    <h1>{{ summary_stats.images_public }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Digitization Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ summary_stats.digitization_projects }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Active Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ summary_stats.active_projects }}</h1>
                  </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="chart_summary" class="chart w-auto" aria-label="Line graphs of cumulative object and image count from digitization projects from August 2013 to present."></div>
            </div>
        </div>

        <br>

        <p>Select one of the tabs at the top to see the specific projects of each team.</p>

        <p>Some of the data is courtesy of the DAMS team.</p>

    </div>
    <div class="tab-pane fade" id="md" role="tabpanel" aria-labelledby="md-tab">

        <div class="row">
            <div class="col">
                <br>

                <h2>Mass Digitization Projects</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Specimens/Objects Digitized
                  </div>
                  <div class="card-body">
                    <h1>{{ md_stats.objects_digitized }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Images Captured
                  </div>
                  <div class="card-body">
                    <h1>{{ md_stats.images_captured }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Public Images
                  </div>
                  <div class="card-body">
                    <h1>{{ md_stats.images_public }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Digitization Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ md_stats.digitization_projects }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Active Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ md_stats.active_projects }}</h1>
                  </div>
                </div>

            </div>
        </div>

            <br>
            <h2>List of MD projects:</h2>

                {% for table in tables_md %}
                           {{ table|safe }}
                {% endfor %}

            <p><small>* Progress is based on the number of specimens/objects expected to be digitized. This value may change during production due to a number of reasons.</small></p>
            <p><small>** Value was estimated</small></p>
            <br>


    </div>
    <div class="tab-pane fade" id="is" role="tabpanel" aria-labelledby="is-tab">

         <div class="row">
            <div class="col">
                <br>

                <h2>Imaging Services Projects</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                 <div class="card text-white bg-primary">
                  <div class="card-header">
                    Specimens/Objects Digitized
                  </div>
                  <div class="card-body">
                    <h1>{{ is_stats.objects_digitized }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Images Captured
                  </div>
                  <div class="card-body">
                    <h1>{{ is_stats.images_captured }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Public Images
                  </div>
                  <div class="card-body">
                    <h1>{{ is_stats.images_public }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Digitization Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ is_stats.digitization_projects }}</h1>
                  </div>
                </div>

            </div>
            <div class="col">

                <div class="card text-white bg-primary">
                  <div class="card-header">
                    Active Projects
                  </div>
                  <div class="card-body">
                    <h1>{{ is_stats.active_projects }}</h1>
                  </div>
                </div>

            </div>
        </div>

        <br>
        <h2>List of IS projects:</h2>

            {% for table in tables_is %}
                       {{ table|safe }}
            {% endfor %}

            <p><small>* Progress is based on the number of specimens/objects expected to be digitized. This value may change during production due to a number of reasons.</small></p>
            <br>

    </div>
    <div class="tab-pane fade" id="inf" role="tabpanel" aria-labelledby="inf-tab">

        <br>

        <h2>Informatics Projects</h2><p>Coming Soon...</p>

    </div>
</div>

{% endblock %}


{% block javascripts %}

    <!-- Plotly -->
    <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/plotly-2.14.0.min.js') }}"
    ></script>

    <script type="text/javascript">
        var graph_s = {{graphJSON_summary | safe}};
        Plotly.newPlot('chart_summary',graph_s,{},{
            responsive: true,
        });

        //var graph_md = {{graphJSON_md | safe}};
        //Plotly.newPlot('chart_md',graph_md,{});

        //var graph_is = {{graphJSON_is | safe}};
        //Plotly.newPlot('chart_is',graph_is,{});
    </script>


    <!-- Datatables -->
    <script type="text/javascript">
        $(document).ready( function () {
            var table1 = $('#list_projects_md').DataTable({
                "pageLength": 20,
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "lengthChange": false
            });

            table1.column( 0 ).visible( false );

            var table2 = $('#list_projects_is').DataTable({
                "pageLength": 20,
                order: [[0, 'desc']],
                "ordering": false,
                "searching": false,
                "lengthChange": false
            });

            table2.column( 0 ).visible( false );

        });
    </script>

{% endblock %}
